body {
    font-family: var(--font-family-open-sans);
}
i , .icono {
    color: var(--color-principal);
}
ul > li.nav-item > a.nav-link {
    color: var(--color-principal) !important;
}
div.alert {
    font-family: var(--font-family-open-sans);
}

div.alert-anuncio {
    font-family: var(--font-family-open-sans);
    color: var(--color-principal-hover) !important;
    background-color: none !important;
    border-color: var(--color-principal-hover) !important;
}

div.alert-anuncio > button.close {
    color: var(--color-principal-hover) !important;
}

.main-bg-color {
    background-color: var(--color-principal) !important;
    color: var(--color-secundario) !important;
}

aside > a.brand-link{
    font-family: var(--font-family-roboto);
    color: var(--color-principal) !important;
}

button>i {
    color: var(--color-secundario) !important;
}

nav > ul > li.nav-item > a {
    font-family: var(--font-family-roboto);
    color: var(--color-principal);
}

ul.pagination > li > a{ 
    color: var(--color-principal) !important;
}

ul.pagination > li.active > a{ 
    border-color: var(--color-principal) !important;
    background-color: var(--color-principal) !important;
    color: var(--color-secundario) !important;
}

.btn-argus {
    border-color: var(--color-principal);
    background-color: var(--color-principal);
    color: var(--color-secundario) !important;
    text-decoration:none !important;
}

.btn-argus:hover {
    border-color: var(--color-principal-hover);
    background-color: var(--color-principal-hover);
    color: var(--color-secundario);
}

.alert-argus {
    background-color: var(--color-principal);
    color: var(--color-secundario);
}

div.login-logo {
    color: var(--color-principal-hover);
}

div.argus-lista{
    background-color: var(--color-list);
}
div.argus-lista > h3 {
    color: var(--color-principal);
}

div.argus-lista > h3 > span {
    margin-top: .7em;
    color: var(--color-principal);
}

.select2-results> ul > li {
    color: black !important; 
    background-color: white !important;
} 

.select2-results > ul > li:hover { 
    color: var(--color-secundario) !important; 
    background-color: var(--color-principal) !important; 
}

/* .select2-results > ul > li:focus-within { 
    color: var(--color-secundario) !important; 
    background-color: var(--color-principal) !important; 
} */

.select2-selection__choice {
    color: var(--color-secundario) !important; 
    background-color: var(--color-principal) !important; 
    border-color: var(--color-principal)!important;
}

.callout.callout-own {
    border-left-color: var(--color-principal);
}
